<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/global.css">
    <link rel="shortcut icon" href="/image/pensLogo.ico" type="image/x-icon">
    <title>MIS <%-"| "+ name %> </title>
  </head>
  <body class="font-hero text-slate-200 bg-slate-950 ">
    <div class="tes fixed w-full h-screen bg-amber-400 hidden sm:hidden"></div>
    <header>
      <nav id="nav" class="backdrop-blur-lg z-20 bg-sky-900/50 border border-t-0 border-sky-400/50 rounded-xl shadow-xl h-12 fixed top-0 left-1/2 -translate-x-1/2 w-11/12 my-3 flex flex-wrap justify-between transition-all duration-200 ease-in-out lg:scale-105">
        <img src="/image/pensLogo.webp" class="h-4/6 my-auto mx-3">
        <h1 class="p-3 text-sky-300 font-extrabold">EEPIS Information System</h1>
        <h3 class="p-3 relative -translate-x-7 translate-y-1 peer"><span class=" before:content[''] before:bg-slate-100 before:h-0.5 before:rounded-2xl before:block before:w-full  before:my-auto before:absolute before:mx-auto after:content[''] after:bg-slate-100 after:h-0.5 after:rounded-2xl after:block after:w-full after:my-auto after:translate-y-2 after:absolute before:origin-left after:origin-left has-checked:after:-rotate-405  has-checked:before:rotate-405 has-checked:before:-translate-y-1 has-checked:after:translate-y-3 has-checked:before:translate-x-1 has-checked:after:translate-x-1  before:transition-all after:transition-all after:ease-in-out before:duration-500 after:duration-500">
          <input type="checkbox" name="" class="absolute z-30 opacity-0 top-0 -translate-y-1.5 h-full w-full cursor-pointer"></span></h3>
        <ul class="text-sky-300 *:active:after:w-full backdrop-blur-lg border border-t-0 border-sky-900 bg-sky-950/95 shadow-xl shadow-sky-400/20 flex flex-col items-center gap-3 rounded-xl p-3 w-11/12 mx-auto my-3 z-40 max-h-0 opacity-0 overflow-hidden -translate-y-24 peer-has-checked:opacity-100 peer-has-checked:translate-y-0  peer-has-checked:max-h-fit transition-all duration-300 ease-out">
          <li
            class="after:h-px after:w-1/6 after:mx-auto after:bg-sky-400 after:rounded-full after:block after:content-[''] after:mt-2 after:transition-all after:delay-150 after:duration-150 after:ease-in-out hover:after:w-full hover:cursor-pointer text-center w-full lg:py-1"
          >
            <a href="#features">Home</a>
          </li>
          <li
            class="after:h-px after:w-1/6 after:mx-auto after:bg-sky-400 after:rounded-full after:block after:content-[''] after:mt-2 after:transition-all after:delay-150 after:duration-150 after:ease-in-out hover:after:w-full hover:cursor-pointer text-center w-full lg:py-1"
          >
            <a href="#services">Units</a>
          </li>
          <li
            class="after:h-px after:w-1/6 after:mx-auto after:bg-sky-400 after:rounded-full after:block after:content-[''] after:mt-2 after:transition-all after:delay-150 after:duration-150 after:ease-in-out hover:after:w-full hover:cursor-pointer text-center w-full lg:py-1"
          >
            <a href="#pricing">Dept/Prodi</a>
          </li>
          <li
            class="after:h-px after:w-1/6 after:mx-auto after:bg-sky-400 after:rounded-full after:block after:content-[''] after:mt-2 after:transition-all after:delay-150 after:duration-150 after:ease-in-out hover:after:w-full hover:cursor-pointer text-center w-full lg:py-1"
          >
            <a href="#pricing">Rooms/Labs</a>
          </li>
          <li class="border-2 border-sky-800 w-full rounded shadow-xl p-1 py-2 text-center font-normal hover:scale-95 active:scale-95 hover:cursor-pointer transition-all ease-in-out delay-150 hover:shadow-sky-600 hover:shadow-sm active:shadow-sky-600 active:shadow-sm text-sky-100 md:py-2 " onclick="this.querySelector('a').click()"><a href="#pricing">Kemahasiswaan</a></li>
          <li class="bg-sky-400 w-full rounded shadow-xl p-1 py-2 text-center font-semibold hover:scale-95 active:scale-95 hover:cursor-pointer transition-all ease-in-out delay-150 hover:shadow-sky-600 hover:shadow-sm active:shadow-sky-600 active:shadow-sm text-sky-100 md:py-2" onclick="this.querySelector('a').click()"><a href="/authenticated/logout">Log out</a></li>
        </ul>
      </nav>
      <div id="hero" class="h-screen relative font-hero">
        <div class="img absolute w-full bg-[url(../image/hero2.jpg)] bg-cover bg-top h-screen -z-20"></div>
        <div class="gradien absolute w-full h-screen bg-linear-to-b from-transparent  to-slate-950 bg -z-10"></div>
        <div class="judul h-1/2 transition-all duration-200 ease-in-out absolute w-full bottom-16 text-[55px] font-bold leading-[1.05] p-3 md:bottom-0 md:flex md:flex-col md:items-center lg:text-7xl">
          <h1>Bridge to The <span class="text-sky-400 drop-shadow-sm drop-shadow-blue-400 ">Future<span class="animate-ping">.</span></span></h1>
          <p class="text-[18px] lg:text-[20px] leading-[1.8] font-light text-right mt-8">Selamat Datang di Kampus Inovasi Politeknik Elektronika Negeri Surabaya, <%- name %> .</span></p>
        </div>
        <div class="buttons absolute w-full left-0 bottom-1/12 h-[calc(1/8*100%)]  flex justify-center *:active:scale-95 *:active:shadow-sky-950 ">
            <div class="trial bg-sky-400 w-1/2 rounded-xl shadow-xl p-3 text-center font-bold text[21px] m-3 hover:scale-95 transition-all ease-in-out delay-150 self-center hover:cursor-pointer hover:shadow-sky-950 hover:bg-sky-500 active:bg-sky-500 md:p-5 md:w-1/4" onclick="this.querySelector('a').click()"><a href="/authenticated/logout">Log out</a></div>
            <div class="sign border border-sky-400 w-1/2 rounded-xl shadow-xl p-3 text-center font-normal text[21px] m-3 hover:scale-95 transition-all ease-in-out delay-150 self-center hover:cursor-pointer hover:shadow-sky-950 md:p-5 md:w-1/4" onclick="this.querySelector('a').click()"><a href="#kemahasiswaan"> Kemahasiswaan</a></div>
        </div>
      </div>
    </header>
    <main>
      <section id="logo"><div class="bg-slate-950">
        <div class="slider w-full overflow-hidden py-12 mb-5">
          <div id="slider-wrapper" class="track flex gap-10 whitespace-nowrap">
            <div class="flex gap-10 items-center shrink-0" id="logo-track">
              <img src="/image/berAKHLAKLogo.webp" class="h-16 w-auto object-contain mx-8">
              <img src="/image/bluLogo.webp" class="h-16 w-auto object-contain mx-8">
              <img src="/image/jossLogo.webp" class="h-16 w-auto object-contain mx-8">
              <img src="/image/kampusInovasi.webp" class="h-16 w-auto object-contain mx-8">
              <img src="/image/kemendikbudLogo.webp" class="h-16 w-auto object-contain mx-8">
              <img src="/image/vokasiLogo.webp" class="h-16 w-auto object-contain mx-8">
              <img src="/image/zonaIntegritas.webp" class="h-16 w-auto object-contain mx-8">
              <img src="/image/berAKHLAKLogo.webp" class="h-16 w-auto object-contain mx-8">
              <img src="/image/bluLogo.webp" class="h-16 w-auto object-contain mx-8">
              <img src="/image/jossLogo.webp" class="h-16 w-auto object-contain mx-8">
              <img src="/image/kampusInovasi.webp" class="h-16 w-auto object-contain mx-8">
              <img src="/image/kemendikbudLogo.webp" class="h-16 w-auto object-contain mx-8">
              <img src="/image/vokasiLogo.webp" class="h-16 w-auto object-contain mx-8">
              <img src="/image/zonaIntegritas.webp" class="h-16 w-auto object-contain mx-8">
            </div>
          </div>
        </div>
      </div></section>
      <section id="kemahasiswaan" class=" bg-slate-950">
        <div id="carouselwrap" class="**:active:after:w-full relative scroll-smooth *:snap-start *:shrink-0 *:grow-0 *:basis-full  items-start lg:flex-wrap flex  h-auto overflow-x-auto overflow-y-hidden  lg:overflow-visible  mx-auto gap-[1em] transition-all  duration-500  w-11/12 lg:w-full">
          <div id="cards" class=  "sm:max-w-sm cards md:max-w-md mt-5 mb-5 mx-auto bg-slate-950 w-10/12 border-2 border-slate-900 rounded-xl shadow-lg shadow-sky-950 overflow-hidden">
            <h1 class="text-xl font-bold p-5 bg-linear-to-r from-green-500 to-emerald-600">BAAK</h1>
            <ul class="p-3 *:font-light *:active:text-green-500">
              <li class="hover:cursor-pointer m-3 hover:text-green-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-green-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Daftar Mahasiswa</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-green-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-green-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">History Kelas Mahasiswa</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-green-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-green-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Nilai Mahasiswa Regular</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-green-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-green-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Nilai Mahasiswa PJJ</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-green-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-green-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Nilai Mahasiswa Pascasarjana</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-green-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-green-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Absensi Kuliah Mahasiswa Regular</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-green-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-green-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Absensi Kuliah Mahasiswa PJJ</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-green-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-green-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Absensi Kuliah Mahasiswa Pascasarjana</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-green-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-green-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Peserta Kuliah Regular</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-green-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-green-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Kinerja PBM Regular</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-green-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-green-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Aplikasi Logbook PLP</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-green-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-green-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Monitoring Logbook KP</a>
              </li>
            </ul>
          </div>
          <div id="cards" class="   sm:max-w-sm cards md:max-w-md mt-5 mb-5 mx-auto bg-slate-950 w-10/12 border-2 border-slate-900 rounded-xl shadow-lg shadow-sky-950 overflow-hidden">
            <h1 class="text-xl font-bold p-5 bg-linear-to-r from-pink-500 to-purple-600">PEGAWAI</h1>
            <ul class="p-3 *:font-light *:active:text-pink-500">
              <li class="hover:cursor-pointer m-3 hover:text-pink-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-pink-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Daftar Pegawai</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-pink-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-pink-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Rekap Absensi Pegawai</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-pink-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-pink-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Rekap Absensi Shift Keamanan</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-pink-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-pink-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Rekap Absensi Shift Parkir</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-pink-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-pink-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Rekap Absensi Kebersihan dan Taman</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-pink-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-pink-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Summary Income</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-pink-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-pink-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">DP3</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-pink-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-pink-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Daily Activity</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-pink-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-pink-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Rekap Daily Activity</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-pink-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-pink-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Data Alamat dan Telepon DOKAR</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-pink-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-pink-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Rekap Cuti Tahunan Pegawai</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-pink-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-pink-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Setting Jadwal WFA/WFO</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-pink-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-pink-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">asasa</a>
              </li>
            </ul>
          </div>
          <div id="cards" class="   sm:max-w-sm cards md:max-w-md mt-5 mb-5 mx-auto bg-slate-950 w-10/12 border-2 border-slate-900 rounded-xl shadow-lg shadow-sky-950 overflow-hidden">
            <h1 class="text-xl font-bold p-5 bg-linear-to-r from-sky-500 to-blue-600">JURUSAN</h1>
            <ul class="p-3 *:font-light *:active:text-sky-500">
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Penilaian Kerja Praktek</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Penilaian Proposal PA</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Penilaian Progress PA</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Penilaian Evaluasi PA/PA-2</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">P3AI-Kurikulum</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Penilaian Proposal Tesis</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Penilaian Progres Tesis 1</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Penilaian Progres Tesis 2</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Penilaian Tesis Akhir</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Monitoring Logbook SPPA, PPA, PA</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Monitoring Bimp PA di Ruang/Lab</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Monitoring Revisi Sidang KP</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Monitoring Revisi Sidang SPPA, PPA, PA</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Monitoring Revisi Sidang Prop., Prog., Final Tesis</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Lihat Buku PA (Pembimbing)</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-sky-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-sky-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Portal MBKM</a>
              </li>
            </ul>
          </div>
          <div id="cards" class="   sm:max-w-sm cards md:max-w-md mt-5 mb-5 mx-auto bg-slate-950 w-10/12 border-2 border-slate-900 rounded-xl shadow-lg shadow-sky-950 overflow-hidden">
            <h1 class="text-xl font-bold p-5 bg-linear-to-r from-orange-500 to-red-600">MAHASISWA</h1>
            <ul class="p-3 *:font-light *:active:text-orange-500">
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Bebas Pinjam Mahasiswa yudisium</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Jurnal IEEE</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">E-Book Library</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Panduan Upload REPO</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Raport</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Info Daftar Ulang</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Reka Daftar Ulang</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">List Revisi dan Saran Ujian KP (1 Bulan)</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">List Revisi dan Saran Ujian KP (3 Bulan)</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">List Revisi dan Saran Ujian TPPA</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">List Revisi dan Saran Evaluasi Progress PA</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">List Revisi dan Saran Ujian PA</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">List Revisi dan Saran Proposal Tesis</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">List Revisi dan Saran Progress Tesis 1</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">List Revisi dan Saran Progress Tesis 2</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-orange-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-orange-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">List Revisi dan Saran Tesis Akhir</a>
              </li>
            </ul>
          </div>
          <div id="cards" class=" relative   sm:max-w-sm cards md:max-w-md mt-5 mb-5 mx-auto bg-slate-950 w-10/12 border-2 border-slate-900 rounded-xl shadow-lg shadow-sky-950 overflow-hidden">
            <h1 class="text-xl font-bold p-5 bg-linear-to-r from-yellow-500 to-orange-600">Lain-lain</h1>
            <ul class="p-3 *:font-light *:active:text-yellow-500">
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">SIM IDUKA</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Manajemen Risiko</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">SIMLITABMAS PENS</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">SIM SENTRA HAKI PENS</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Share After Workshop</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Penilaian Atasan Langsung</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Sistem Kepuasan Internal V2</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">SI-RENS</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">SIM Peralatan Lab</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Aplikasi Pinjam Alat Lab</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Notulen Rapat</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Lihat Quesioner Dosen</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Aplikasi SK</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Dokumen SK dan MOU</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Penomoran Surat</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Perpustakaan</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Aplikasi Spare PArt</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Aplikasi Transaksi ATK</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Pembayaran</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">M dan R Kerumahtanggaan</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">SIM Mutu</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Lapor (S-MILA)</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">SIM PUT</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">SMS Blast</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Aplikasi Pemesanan Ruang</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Pengelolaan BMN</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">SISTER</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Rekap Kuisioner Kerja Sama</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Pembayaran Virtual Account</a>
              </li>
              <li class="hover:cursor-pointer m-3 hover:text-yellow-500 transition-all duration-250 after:h-px after:w-0 after:content[''] after:bg-yellow-500  after:block after:transition-all after:delay-75 after:ease-in after:duration-250 hover:after:w-full">
                <a href="instagram.com">Download Cisco AnyConnect</a>
              </li>
            </ul>
          </div>
        </div>
      </section>
      <section id="quicklinks">
        <div class="akses py-25">
          <h1 class="text-5xl font-extrabold text-center bg-linear-to-r from-sky-400 to-blue-500 bg-clip-text text-transparent text-shadow-sm text-shadow-sky-400/10 ">Akses Cepat</h1>
          <ul class="m-3 mt-10 flex flex-wrap justify-center gap-5 **:px-4  *:py-1 *:rounded-full *:border *:border-sky-400 *:text-sky-300 *:bg-sky-400/10 *:hover:cursor-pointer *:hover:scale-105 *:active:border-sky-900 *:active:scale-105  *:transition-all">
            <li>Khusus Dosen</li>
            <li>ONLINEMIS</li>
            <li>Dosen Wali</li>
            <li>Portal EDP</li>
            <li>E-Smart Parking</li>
            <li>Sistem Informasi Eksekutif</li>
            <li>Dashboard Si Eksekutif</li>
            <li>Pendaftaran Mahasiswa Baru</li>
            <li>Kerja Praktek</li>
            <li>Tugas Akhir</li>
            <li>Pengumuman</li>
            <li>Dashboard PUT</li>
            <li>Pesan Buku Baru Perpustakaan</li>
            <li>Dashboard Pesan Buku Baru</li>
            <li>Pemesanan Ruang</li>
            <li>Dashboard Pemesanan Ruang</li>
            <li>Dashboard P3AJ Kurikulum</li>
            <li>Parameter SIKAP</li>
            <li>PSDKU</li>
            <li>Golden Ticket</li>
          </ul>

        </div>
      </section>
    </main>
    <footer class="bg-slate-900 ">
      <div class="flex flex-wrap justify-between py-11">
        <div class="logo px-10 py-2 *:my-5">
          <h1 class="font-extrabold text-xl">EEPIS Information System</h1>
          <p class="font-thin text-sm">Politeknik Elektronnika Negeri Surabaya</p>
        </div>
        <div class="logo px-10 py-2 *:my-5">
          <h1 class="font-extrabold text-xl">Quick Links</h1>
          <p class="font-thin text-sm">UPT Eletronic Data Processing (EDP)</p>
          <p class="font-thin text-sm">Email Admin: ais@pens.ac.id</p>
        </div>
        <div class="logo px-10 py-2 *:my-5">
          <h1 class="font-extrabold text-xl">Contact</h1>
          <p class="font-thin text-sm">Admin: Mako, Agung, dan Adi</p>
          <p class="font-thin text-sm">Help ext (6301)</p>
        </div>
        </div>
        <span class="before:content['']  before:block before:w-11/12 before:mx-auto before:rounded-full before:bg-slate-700 before:h-px before:my-4"></span>
        <div class="copy text-sm font-light text-center text-slate-400 pb-5"><h1>PENS &copy; 18 November 2025. All rights reserved. <br> Made with 💖 by <a href="https://instagram.com/naftalists" class="underline hover:text-blue-400 active:text-blue-400" target="_blank"> @naftalists</a></h1></div>
    </footer>
        <script src="/app.js"></script>

  </body>
</html>
